<html>
	<head>
		<title>HTML Online Editor Sample</title>
	</head>
	<body>
		<h3>
			1.</h3>
		<p>
			<img alt="" src=<%= a4 %> style="width: 124px; height: 124px;" /></p>
		<h3>
			<span style="color:#000080;">Banda: <%= a1 %><br />
			<span style="color:#000080;">&Aacute;lbum: <%= a2 %><br />
			<span style="color:#000080;">Direcci&oacute;n: <%= a5 %><br />
			<span style="color:#000080;">Precio: <%= a3 %></h3>
			<a href="http://twitter.com/home?status=Banda: <%= a1%> Album: <%= a2%> Precio: <%= a3%> Direccion: <%= a5%> " onclick=";" title="Click to send this page to Twitter!" rel="nofollow" target="_blank">Tweet This!</a>

		<h3>
			
			2.</h3>
		<p>
			<img alt="" src=<%= b4 %> style="width: 124px; height: 124px;" /></p>
		<h3>
			<span style="color:#000080;">Banda: <%= b1 %><br />
			<span style="color:#000080;">&Aacute;lbum: <%= b2 %><br />
			<span style="color:#000080;">Direcci&oacute;n: <%= b5 %><br />
			<span style="color:#000080;">Precio: <%= b3 %></h3>
			<a href="http://twitter.com/home?status=Banda: <%= b1%> Album: <%= b2%> Precio: <%= b3%> Direccion: <%= b5%> %23TP4Ruby" onclick=";" title="Click to send this page to Twitter!" rel="nofollow" target="_blank">Tweet This!</a>

		<h3>
			3.</h3>
		<p>
			<img alt="" src=<%= c4 %> style="width: 124px; height: 124px;" /></p>
		<h3>
			<span style="color:#000080;">Banda: <%= c1 %><br />
			<span style="color:#000080;">&Aacute;lbum: <%= c2 %><br />
			<span style="color:#000080;">Direcci&oacute;n: <%= c5 %><br />
			<span style="color:#000080;">Precio: <%= c3 %></h3>
			<a href="http://twitter.com/home?status=Banda: <%= c1%> Album: <%= c2%> Precio: <%= c3%> Direccion: <%= c5%> " onclick=";" title="Click to send this page to Twitter!" rel="nofollow" target="_blank">Tweet This!</a>

		<h3>
			4.</h3>
		<p>
			<img alt="" src=<%= d4 %> style="width: 124px; height: 124px;" /></p>
		<h3>
			<span style="color:#000080;">Banda: <%= d1 %><br />
			<span style="color:#000080;">&Aacute;lbum: <%= d2 %><br />
			<span style="color:#000080;">Direcci&oacute;n: <%= d5 %><br />
			<span style="color:#000080;">Precio: <%= d3 %></h3>
			<a href="http://twitter.com/home?status=Banda: <%= d1%> Album: <%= d2%> Precio: <%= d3%> Direccion: <%= d5%> " onclick=";" title="Click to send this page to Twitter!" rel="nofollow" target="_blank">Tweet This!</a>

		<h3>
			5.</h3>
		<p>
			<img alt="" src=<%= e4 %> style="width: 124px; height: 124px;" /></p>
		<h3>
			<span style="color:#000080;">Banda: <%= e1 %><br />
			<span style="color:#000080;">&Aacute;lbum: <%= e2 %><br />
			<span style="color:#000080;">Direcci&oacute;n: <%= e5 %><br />
			<span style="color:#000080;">Precio: <%= e3 %></h3>
			<a href="http://twitter.com/home?status=Banda: <%= e1%> Album: <%= e2%> Precio: <%= e3%> Direccion: <%= e5%> " onclick=";" title="Click to send this page to Twitter!" rel="nofollow" target="_blank">Tweet This!</a>

		<h3>
			6.</h3>
		<p>
			<img alt="" src=<%= f4 %> style="width: 124px; height: 124px;" /></p>
		<h3>
			<span style="color:#000080;">Banda: <%= f1 %><br />
			<span style="color:#000080;">&Aacute;lbum: <%= f2 %><br />
			<span style="color:#000080;">Direcci&oacute;n: <%= f5 %><br />
			<span style="color:#000080;">Precio: <%= f3 %></h3>
			<a href="http://twitter.com/home?status=Banda: <%= f1%> Album: <%= f2%> Precio: <%= f3%> Direccion: <%= f5%> " onclick=";" title="Click to send this page to Twitter!" rel="nofollow" target="_blank">Tweet This!</a>

		<h3>
			7.</h3>
		<p>
			<img alt="" src=<%= g4 %> style="width: 124px; height: 124px;" /></p>
		<h3>
			<span style="color:#000080;">Banda: <%= g1 %><br />
			<span style="color:#000080;">&Aacute;lbum: <%= g2 %><br />
			<span style="color:#000080;">Direcci&oacute;n: <%= g5 %><br />
			<span style="color:#000080;">Precio: <%= g3 %></h3>
			<a href="http://twitter.com/home?status=Banda: <%= g1%> Album: <%= g2%> Precio: <%= g3%> Direccion: <%= g5%> " onclick=";" title="Click to send this page to Twitter!" rel="nofollow" target="_blank">Tweet This!</a>

		<h3>
			8.</h3>
		<p>
			<img alt="" src=<%= h4 %> style="width: 124px; height: 124px;" /></p>
		<h3>
			<span style="color:#000080;">Banda: <%= h1 %><br />
			<span style="color:#000080;">&Aacute;lbum: <%= h2 %><br />
			<span style="color:#000080;">Direcci&oacute;n: <%= h5 %><br />
			<span style="color:#000080;">Precio: <%= h3 %></h3>
			<a href="http://twitter.com/home?status=Banda: <%= h1%> Album: <%= h2%> Precio: <%= h3%> Direccion: <%= h5%> " onclick=";" title="Click to send this page to Twitter!" rel="nofollow" target="_blank">Tweet This!</a>
		<h3>
			9.</h3>
		<p>
			<img alt="" src=<%= i4 %> style="width: 124px; height: 124px;" /></p>
		<h3>
			<span style="color:#000080;">Banda: <%= i1 %><br />
			<span style="color:#000080;">&Aacute;lbum: <%= i2 %><br />
			<span style="color:#000080;">Direcci&oacute;n: <%= i5 %><br />
			<span style="color:#000080;">Precio: <%= i3 %></h3>
			<a href="http://twitter.com/home?status=Banda: <%= i1%> Album: <%= i2%> Precio: <%= i3%> Direccion: <%= i5%> " onclick=";" title="Click to send this page to Twitter!" rel="nofollow" target="_blank">Tweet This!</a>
		<h3>
			10.</h3>
		<p>
			<img alt="" src=<%= j4 %> style="width: 124px; height: 124px;" /></p>
		<h3>
			<span style="color:#000080;">Banda: <%= j1 %><br />
			<span style="color:#000080;">&Aacute;lbum: <%= j2 %><br />
			<span style="color:#000080;">Direcci&oacute;n: <%= j5 %><br />
			<span style="color:#000080;">Precio: <%= j3 %></h3>
			<a href="http://twitter.com/home?status=Banda: <%= j1%> Album: <%= j2%> Precio: <%= j3%> Direccion: <%= j5%> " onclick=";" title="Click to send this page to Twitter!" rel="nofollow" target="_blank">Tweet This!</a>
		<h3>
	</body>
</html>
